.btn.btn-block.btn-lg {
    width: 65px;
    height:65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
}


.btn-soft-purple{
    background-color: #e9eaf8;
    color: #747ed1;
}

.btn-soft-green{
    background-color: #e7f5f0;
    color: #6bbea3;
}
.btn-soft-orange{
    background-color: #feece9;
    color:#f78b77;
}

.btn-soft-yellow{
    background-color: #fef3e4;
    color:#fab758;
}

.fs-22 {
    font-size: 25px!important;
}
.fs-15{
    font-size: 18px!important;
}


