.filter-button {
    padding: 1em;
    font-size: 16px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}
.filter-button:hover {
    background-color: #dadada;
}

.filter-button.active {
    background-color: #dadada;
}

.button-container {
    text-align: center;
}

.filter-gallery {
    display: block;
}

.image-container {
    margin-top: 1em;
    column-count: 3; /*column-count helps to create a grid layout*/
    column-gap: 10px;
}

.gallery-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    padding: 8px;

}

@media (max-width: 768px) {
    .image-container {
        column-count: 1; /*adjusted to 1 column for mobile*/
    }
}
